* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --left_space: 5%;
}

a {
  text-decoration-line: none;
  color:#7b9700;
  font-weight: bolder;
}

body {
  display: flex;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: max(100vh, 600px);
}

.container {
  display: flex;
  flex-direction: column;
}

#labels {
  margin: 2% 0;
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

body>:first-child {
  width: 50%;
  position: relative;
  align-items: center;
}

body>:last-child {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  justify-content: center;
}

#credits {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
@font-face {
  font-family: 'Norse-Bold';
  src: url(font/Norse-Bold.otf);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 30%;
  font-size: 4rem;
  font-family: 'Norse-Bold','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo>img {
  width: auto;
  height: 90%;
}

#credits,
span>a {
  justify-self: flex-start;
  color: white;
}

#credits {
  position: absolute;
  bottom: 0;
}

.bold {
  font-weight: bold;
  margin: 5% 0;
  padding: 0px var(--left_space);
  padding-right: 38%;
}

.bold>span {
  font-style: italic;
}

form {
  width: 100%;
  padding: 10px 0;
  padding-left: var(--left_space);
  background-color: #fff;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
  color: rgba(54, 97, 214, 0.795);
  font-weight: bolder;
}

label {
  width: 200px;
  display: block;
  font-size: 0.6rem;
  position: relative;
}

button,
.login {
  padding-left: var(--left_space);
}
input{
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding: 2px 8px;
}
button {
  padding: 2%;
  margin: 3% 0 3% var(--left_space);
  width: max(10%, 200px);
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  background-color: #c46336;
  font-weight: bold;
}

legend {
  color: black;
}
#password.error+span::after{
  content: "*Passwords do not match";
  color: red;
  font-size: 0.7rem;
  position: absolute;
  bottom: -45%;
  left: 0px;
}
.valid+span::after{
  content: "✔";
  color: green;
  font-size: 1rem;
  position: absolute;
  bottom: 5%;
  right: -5%;
}
.error {
  border: 1px solid red;
}
.valid {
  border: 1px solid green;
}